---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>PHP & React</h2>
		<p>J'ai développé une expertise solide en PHP et React au cours de ma formation, tout en cultivant un savoir-être professionnel et une méthode d'apprentissage qui favorisent mon autonomie. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit d'équipe</h2>
		<p>Je valorise le travail d'équipe et ma collaboration avec divers profils m'a permis d'atteindre des objectifs communs. Mon enthousiasme et ma communication ouverte favorisent un environnement propice à l'innovation et à la réussite collective.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Soif d'apprendre</h2>
		<p>Ma curiosité constante me pousse à rester à la pointe des tendances technologiques, assurant ma pertinence dans un monde en constante évolution, prête à relever de nouveaux défis avec enthousiasme.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
